

                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><h1 style="height: 400px;
    width: 600px;">
    daCependant, Nous pensons toujours d' am\'eliorer notre projet. En effet, Nous pouvons rajouter un module de chat et de notifications temps r\'eel pour am\'eliorer l' interraction entre le client et l' \'etablissement. Nous pouvons aussi d\'evelopper une application mobile pour les clients. D' autre part, nous comptons d\'evelopper des algorithmes pour am\'eliorer la suggestion des \'etablissement, Par exemple, unalgorithme qui suit les activit\'e des clients et qui peut savoir les types d' \'etablissement qu' ils favorisent le plus.

  </h1></div>
                  <div class="col-md-4"></div>
                </div>

<br><br><br><br><br><br><br><br><br>
