<!DOCTYPE html>
<html  ng-app="TuniCoolApp">
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
  <meta name="Content-Language" content="fr" />
  <meta name="Description" content="" />
  <meta name="Subject" content="" />
  <meta name="Content-Type" content="utf-8"/>
  <link rel="stylesheet" href="./../css/agency.css">
<link rel="stylesheet" href="./../css/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <link rel="icon" href="../../html/favicon-1.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./../css/bootstrap.min.css">
  <link rel="stylesheet" href="./../css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./../css/bootstrap.css">
  <link rel="stylesheet" href="./../css/font-awesome.min.css">
<script type="text/javascript" src="./../angular-1.5.8/angular.js"></script>

<script type="text/javascript" src="./../angular-1.5.8/angular-cookies.js"></script>
<script type="text/javascript" src="./../angular-1.5.8/angular-route.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAspM3QabnE63YyJRUH23rFFfPM-ePhQpo">
    </script>
<script type="text/javascript" src="./../js/TuniCoolApp.js"></script>
<script type="text/javascript" src="./../js/Route/TunicoolRoute.js"></script>
  <title>Tunicool</title>
</head>
<body  class="my_background">
 
         <main ng-view=""> </main>



         									</body>
         									</html>
