<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Restaurant</title>


        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../../css/style-portfolio.css">
        <link rel="stylesheet" href="../../css/picto-foundry-food.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="../../html/favicon-1.ico" type="image/x-icon">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/style-portfolio.css">
        <link rel="stylesheet" href="../../css/picto-foundry-food.css">
        <link rel="stylesheet" href="../../css/main.css" media="screen" type="text/css">
        <link rel="stylesheet" href="../../css/loading/loading.css">


    </head>


<body>

<!--div  class="alert alert-inf" ng-show="loading">

    <div class="circle"></div>
    <div class="circle-small"></div>
    <div class="circle-big"></div>
    <div class="circle-inner-inner"></div>
    <div class="circle-inner"></div>
</div-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
           <div class="container">
               <div class="row">
               <!-- Brand and toggle get grouped for better mobile display -->
                   <div class="navbar-header">

                       <a class="navbar-brand" href="#">TuniCool</a>
                   </div>

                   <!-- Collect the nav links, forms, and other content for toggling -->
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav main-nav  clear navbar-right ">



                           <li><a class="color_animation" href="#reservation">Map</a></li>
                           <li><a class="color_animation" href="#contact">CONTACT</a></li>
                           <li><a class="color_animation" href="#story">Login in</a></li>
                           <li><a class="color_animation" href="#pricing">Register</a></li>
                       </ul>
                   </div><!-- /.navbar-collapse -->
               </div>
           </div><!-- /.container-fluid -->
       </nav>





<div ng-app="ArticleModel">
<main ng-view=""></main>
</div>

        <!-- ============ Pricing  ============= -->



        <!-- ============ Footer Section  ============= -->



        <footer class="sub_footer">
            <div class="container">
                <div class="text-content container">
                    <div class="col-md-6">
                        <span class="social_heading"></span>
                        <ul class="social_icons">

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
<div>

</div>




<script src="../../angular-1.5.8/angular.js"></script>
<script type="text/javascript" src="../../Js/bootstrap.min.js"></script>
<script src="../../angular-1.5.8/angular-route.js"></script>
<script src="../../Js/Restaurant/ArticleController.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

  <script src="../../Js/Restaurant/main.js"></script>


    </body>
</html>
